.breadcrumbs {
  padding-top:60px;
  @media(max-width: 1439px) {
    padding-top:45px;
  }
  &__grid {
    display:flex;
    margin-left: -25px;
    margin-top:-10px;
    flex-wrap: wrap;
    @media(max-width: 1439px) {
      margin-left: -20px; 
    }
    @media(max-width: 959px) {
      margin-left: -15px;
      margin-top:0px;
    }
  }
  &__cell {
    padding-left: 25px;
    padding-top:10px;
    display:inline-block;
    @media(max-width: 1439px) {
      padding-left: 20px;
    }
    @media(max-width: 959px) {
      padding-left: 15px;
      padding-top:0px;
      display:none;
      &:nth-last-child(2),&:last-child {
        display:inline-block;
      }
    }
    &:first-child a {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      &:before {
        display:none;
      }
    }
    &:last-child a {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      background-color:@blue;
      &:before {
        border-top-color:@blue;
        border-bottom-color:@blue;
      }
      &:after {
        display:none;
      }
    }
  }
  &__link {
    background-color:#d2d2d2;
    padding:0 10px;
    display:inline-block;
    color:white;
    font-size:20px;
    line-height: 30px;
    font-weight: bold;
    position:relative;
    transition:all 0.3s;
    text-transform: uppercase;
    @media(max-width: 1439px) {
      font-size:15px;
      line-height: 22px;
    }
    &:before {
      content:"";
      box-sizing: border-box;
      position:absolute;
      width:0;
      height:30px;
      left:0;
      top:0;
      border-left: 15px solid transparent;
      border-top: 15px solid #d2d2d2;
      border-bottom: 15px solid #d2d2d2;
      transform:translateX(-100%);
      transition:all 0.3s;
      @media(max-width: 1439px) {
        height:22px;
        border-top-width: 11px;
        border-left-width: 11px;
        border-bottom-width: 11px;
      }
    }
    &:after {
      content:"";
      box-sizing: border-box;
      position:absolute;
      width:0;
      height:30px;
      right:0;
      top:0;
      border-left: 15px solid #d2d2d2;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      transform:translateX(100%);
      transition:all 0.3s;
      @media(max-width: 1439px) {
        height:22px;
        border-left-width: 11px;
        border-top-width: 11px;
        border-bottom-width: 11px;
      }
    }
    &:hover {
      background-color:@blue;
      &:before {
        border-top-color:@blue;
        border-bottom-color:@blue;
      }
      &:after {
        border-left-color:@blue;
      }
    }
    @media(max-width: 959px) {
      font-size:12px;
      line-height: 20px;
      &:after,&:before {
        height:20px;
        border-top-width: 10px;
        border-left-width: 10px;
        border-bottom-width: 10px;
      }
    }
  }
  &__heading {
    margin-top:40px;
    @media(max-width: 1439px) {
      margin-top:30px;
      font-size:36px;
    }
    @media(max-width: 959px) {
      font-size:30px;
      margin-top:30px;
    }
  }
}
