.burger {
  position:fixed;
  z-index:1999;
  top:0;
  left:0;
  display:block;
  width:40px;
  height:40px;
  background-color:@green;
  @media(min-width: 960px) {
    display:none;
  }
  &:before,&:after {
    content:"";
    position:absolute;
    left:50%;
    top:50%;
    width:26px;
    transform:translate(-50%,-50%);
  }
  &:before {
    box-sizing: border-box;
    height:14px;
    border-top:2px solid white;
    border-bottom:2px solid white;
  }
  &:after {
    height:2px;
    background-color:white;
  }
}
