h2.welcome_h2 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 16px;
}
.pagetext {
    padding: 30px 40px;
    background-color: #ffffff;
    text-align: justify;
    margin-bottom: 20px;
    line-height: 24px;
}

.pagetext h3 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 18px;
}

.pagetext p {
    margin: 0;
    padding: 0;
    margin-bottom: 12px;
}


.pagetext h6 {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 12px;
}

.pagetext ul {
    padding: 0;
    margin: 0;
    margin-bottom: 12px;
}

.pagetext ul li {
    padding: 0;
    margin: 0;
    background-color: #f5f7f7;
    list-style-position: inside;
    list-style-image: url(../img/ul_marker.png);
    padding: 10px 25px 10px 35px;
    line-height: 20px;
    margin-top: 10px;
    text-align: left;
    text-indent: -13px;
}

.pagetext ul li:first-child {
    margin-top: 0
}
.pagetext h4 {
    margin: 0;
    padding: 0;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 14px;
}

.pagetext a:hover {
    color: #3fa64d;
}


h2.feedback_h2 {
    margin-top: 35px;
    margin-bottom: 26px;
}

.feedback_switcher {
    display: flex;
    background-color: #e3e8e8;
    padding: 36px 40px 32px;

    @media (max-width: 600px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.feedback_form_caption {
    font-size: 15px;
    font-weight: bold;

}

.feedback_form_caption.feedback_switcher_caption {
    width: 30%;

    @media (max-width: 600px) {
        display: none;
    }
}

.feedback_radio {
    display: flex;
    justify-content: space-evenly;
    width: 70%;

    @media (max-width: 600px) {
        width: 100%;
    }
}

.feedback_radio_item {

}

.feedback_radio_input {
    display: none;
}

.feedback_radio_label {
    cursor: pointer;
    display: inline-block;
    background-image: url(../img/radio_icon.png);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 30px;
}

.feedback_radio_input:checked ~ .feedback_radio_label {
    font-weight: bold;
    background-image: url(../img/radio_checked.png);
}

.feedback_container {
    padding: 0 40px 40px;
    background-color: #ffffff;
    box-shadow: 0 1px 5px 0 rgba(132, 141, 144, 0.21);
}

.block_item {
    padding: 35px 0 20px;
    border-top: 1px dashed #d9dfdf;
    position: relative;
}

.block_item:first-child{
    margin-top: 30px;
}

.block_item:first-child {
    border-top: 0;
}

.block_item_title {
    font-size: 17px;
    color: #8c9292;
    font-weight: bold;
    background-color: #ffffff;
    position: absolute;
    top: -15px;
    padding-right: 8px;
}

.block_item_fields {
    display: flex;
    flex-wrap: wrap;
}

.feedback_form_item {
    margin-bottom: 25px;
}

.feedback_form_item .feedback_form_caption {
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 6px;
}

.ecotek_inputtext {
    border: 0;
    background-color: #ecf1f1;
    height: 48px;
    font-size: 15px;
    color: #1e2825;
    font-family: arial;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 0 19px;
    border: 1px solid #ecf1f1;
}

.ecotek_inputtext:focus {
    border-color: #3fa64d;
}

.feedback_form_left {
    width: 100%;
    box-sizing: border-box;

    @media (min-width: 1024px) {
        padding-right: 20px;
        width: 50%;
    }
}

.feedback_form_right {
    width: 100%;
    box-sizing: border-box;

    @media (min-width: 1024px) {
        padding-left: 20px;
        width: 50%;
    }
}

.notnull_icon {
    color: #3fa64d;
}

.feedback_form_float .feedback_form_field {
    float: left;
    width: 160px;
}

.feedback_form_item .ecotek_inputtext {
    box-sizing: border-box;
    width: 100%;
}

.feedback_form_left .ecotek_inputtext, .feedback_form_right .ecotek_inputtext {
    width: 100%;
}

textarea.ecotek_inputtext {
    line-height: normal;
    height: 150px;
    padding-top: 15px;
    padding-bottom: 15px;
    resize: none;
}

.feedback_form_item select {
    height: 48px;
    width: 100%;

    -webkit-appearance: none;
    -moz-appearance: none;
}

#feedback_item_deal_num,
#feedback_item_deal_kogda {
    display: flex;
    justify-content: space-between;

    .feedback_form_caption {
        display: flex;
        align-items: center;
        width: 70%;
    }

    .feedback_form_field {
        width: 30%;
    }
}

.feedback_form_field {
    position: relative;
}

.feedback_form_field-arrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    right: 2px;
    top: 2px;
    bottom: 2px;
    margin: auto 0;
    width: 30px;
    cursor: pointer;
}

.ecotek_inputtext.datepicker {
    background-image: url(../img/datepicker_icon.png);
    font-weight: bold;
    color: #0f3276;
    background-position: left 3% center;
    background-repeat: no-repeat;
    padding-left: 40px;
}

.feedback_form_item .ecotek_inputtext.datepicker {
    width: 100%;
}

.dopfile_hint {
    line-height: 24px;
    margin-bottom: 20px;
}

.feedback_form_inputfile_block {
    text-align: center;
}

.inputfile_button {
    width: 240px;
    text-align: center;
    border: 1px dashed #0f3276;
    display: inline-block;
    line-height: 48px;
    height: 48px;
    padding: 0;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background-color: #ecf1f1;
    font-size: 15px;
    font-weight: bold;
    color: #0f3276;
    cursor: pointer;
}

.inputfile_button:hover {
    background-color: #dbe0e0;
}

.inputfile_button_icon {
    display: inline-block;
    background-image: url(../img/inputfile_button_icon.png);
    vertical-align: middle;
    width: 17px;
    height: 16px;
    margin-right: 4px;
}

.inputfile_caption {
    font-weight: bold;
    display: inline-block;
    margin-left: 8px;
}

.inputfile_input {
    position: absolute;
    margin-left: -1000px;
    z-index: 0;
    opacity: 0;
}

#feedback_item_dopfile {
    margin-bottom: 20px;
}

.feedback_form_checkbox {

}

.feedback_form_checkbox input[type="checkbox"]{
    display: none;
}

.feedback_form_checkbox_label {
    line-height: 20px;
    padding-left: 32px;
    background-repeat: no-repeat;
    background-position: left center;
    display: inline-block;
    background-image: url(../img/feedback_form_checkbox.png);
    cursor: pointer;
}

.feedback_form_checkbox input[type="checkbox"]:checked ~ .feedback_form_checkbox_label {
    background-image: url(../img/feedback_form_checkbox_checked.png);
}

.feedback_form_checkbox_label2 {
  line-height: 20px;
  padding-left: 32px;
  background-repeat: no-repeat;
  background-position: left center;
  display: inline-block;
  background-image: url(../img/feedback_form_checkbox.png);
  cursor: pointer;
}

.feedback_form_checkbox2 input[type="checkbox"]{
    display: none;
}

.feedback_form_checkbox2 input[type="checkbox"]:checked ~ .feedback_form_checkbox_label2 {
    background-image: url(../img/feedback_form_checkbox_checked.png);
}


.feedback_form_submit {

}

.ecotek_button3 {
    background-color: #3fa64d;
    line-height: 50px;
    height: 50px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 13px;
    font-family: arial;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    border: 0;
    text-align: center;
    padding: 0 60px;
}

.ecotek_button3:hover {
    background-color: #2e953c;
}

.feedback_form_submit_hint {
    display: inline-block;
    font-size: 13px;
    color: #727d7d;
    margin-left: 40px;
}
.text-center{
    text-align: center;
}

.engine_form_tel {
    display: none;
}

div.clearer {
    clear:               both;
    overflow:            hidden;
    zoom:                1;
    height:              0; /* ie */
}

.custom_form_span {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    position: absolute;
    padding-left: 20px;
    color: #1e2825;
    background-color: #ecf1f1;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    padding-right: 9px;
}

.feedback_form_item select {
    width: 100%;
    opacity: 0;
}

.custom_form_span_thema {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px
}

.custom_form {
    z-index: 99;
    position: relative;
    margin-left: 0;
}

#feedback_item_title {
    width: 100%;
}

#feedback_item_comment {
    width: 100%;
}

.feedback_form_submit {
    @media (max-width: 1023px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .feedback_form_submit_hint {
        @media (max-width: 1023px) {
            margin-left: 0;
            margin-top: 10px;
            text-align: center;
        }
    }
}

.has_error{
        border: 1px solid red;
}

