.factories {
  &__heading {
    font-weight: 900;
  }
  &__grid {
    margin-top:30px;
  }
  &__cell {
    width:100%;
    box-sizing: border-box;
    padding-top:30px;
  }
  &__image {
    width:100%;
  }
  &__panel {
    padding:30px;
  }
  &__subheading {
    font-size: 30px;
  }
  &__text {
    margin-top:30px;
  }
  &__link {
    margin-top:30px;
    color:@green;
    &:after {
      font-family: "FontAwesome";
      padding-left: 5px;    
      content:"\f061";
    }
  }
}
