.factories {
  @media(max-width: 959px) {
    line-height: 1.5;
    font-size:16px;
  }
  &__grid {
    margin-top:30px;
    display:flex;
    flex-wrap: wrap;
  }
  &__cell {
    width:50%;
    box-sizing: border-box;
    padding-top:30px;
    @media(max-width: 959px) {
      width:100%;
    }
  }
  &__image {
    width:100%;
  }
  &__panel {
    padding:60px;
    @media(max-width: 959px) {
      padding-top:0;
    }
    @media(max-width: 767px) {
      padding:30px;
    }
  }
  &__subheading {
    font-size: 30px;
    font-weight: 900;
  }
  &__text {
    margin-top:30px;
  }
  &__link {
    margin-top:30px;
    display:inline-block;
    color:@green;
    &:after {
      font-family: "FontAwesome";
      padding-left: 10px;
      content:"\f105";
    }
  }
}
