.header {
  background-color:@blue;
  overflow:hidden;
  &__wrapper {
    position:relative;
  }
  &__map-wrapper {
    display:inline-block;
    position:relative;
    transform:translateX(300px);
    @media(max-width: 959px) {
      transform:none;
    }
    &_normal {
      transform:none;
    }
  }
  &__map {
    width:100%;
    display:block;
  }
  &__svg {
    position:absolute;
    top:2.5%;
    left:2.7%;
    right:3.2%;
    bottom:5.5%;
    &_first {
      z-index:1;
    }
    &_second {
      z-index:3;
    }
    svg {
      width:100%;
      height:100%;
      polygon {
        transition:all 0.2s;
        stroke:transparent;
        stroke-width:5px;
        cursor:pointer;
      }
    }
    & .active {
      stroke:white;
    }
  }
  &__name {
    display:inline-block;
    font-size:24px;
    font-weight: 700;
    position:absolute;
    z-index:1;
    color:white;
    @media(max-width: 959px) {
      font-size:16px;
    }
    @media(max-width: 767px) {
      font-size:8px;
    }
    &_tob {
      top:48%;
      left:28%;
    }
    &_tmn {
      top:75%;
      left:15%;
    }
    &_ish {
      top:85%;
      left:60%;
    }
  }
  &__content {
    position:absolute;
    left:0;
    top:50%;
    max-width: 525px;
    z-index:2;
    transform:translateY(-50%) translateX(-300px);
    color:white;
    opacity:0;
    transition:none;
    @media(max-width: 959px) {
      transform:none;
      padding-left: 30px;
    }
    &.active {
      opacity:1;
      transition:all 1s;
    }
  }
}

.content {
  &__heading {

  }
  &__text {
    margin-top:60px;
    font-weight: 700;
    font-size:20px;
    line-height: 1.5;
  }
}
