.photos {
  padding-top:60px;
  @media(max-width: 1439px) {
    padding-top:45px;
  }
  @media(max-width: 959px) {
    padding-top:30px;
  }
  &__heading {
    font-weight: 900;
    margin-bottom:60px;
    @media(max-width: 1439px) {
      font-size:22px;
      line-height:  36px;
    }
    @media(max-width: 959px) {
      font-size:30px;
      margin-bottom:30px;
    }
  }
  &__grid {
    display:flex;
    flex-wrap: wrap;
    &_main {
      margin:-5px;
    }
  }
  &__cell {
    box-sizing: border-box;
    width:25%;
    @media(max-width: 959px) {
      width:100%;
    }
    &_big {
      width:100%;
    }
    &_small {
      @media(max-width: 959px) {
        width:50%;
      }
      @media(max-width: 767px) {
        width:100%;
      }
    }
    &_hidden-small {
      @media(max-width: 767px) {
        display:none;
      }
    }
  }
  &__item {
    position:relative;
    &:after {
      display:block;
      content:"";
      padding-bottom:100%;
      @media(max-width: 959px) {
        padding-bottom:75%;
      }
      @media(max-width: 767px) {
        padding-bottom:50%;
      }
    }
    &_rect:after { padding-bottom:50%; }
  }
  &__link {
    display:block;
    position:absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    left:5px;
    top:5px;
    right:5px;
    bottom:5px;
  }
}

.photos-more {
  position:absolute;
  padding:30px;
  background-color:@green;
  color:white;
  left:5px;
  top:5px;
  right:5px;
  bottom:5px;
  &__heading {
    max-width: 150px;
  }
  &__more {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    &:after {
      position:absolute;
      content:"";
      background-image:url(../img/arrow.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;
      width:20px;
      top:0;
      right:10px;
      bottom:0;
    }
  }
  &__link {
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    z-index: 2;
  }
  &__text {
    font-size:16px;
    font-weight: bold;
    background-color:#5bad27;
    line-height: 70px;
    padding-left: 30px;
    padding-right:10px;
    position:relative;
    transition:all 0.3s;
    &:before {
      position:absolute;
      content:"";
      border-bottom:70px solid transparent;
      border-right:30px solid #76ba4a;
      right:40px;
    }
    &:after {
      position:absolute;
      content:"";
      right:0;
      top:0;
      bottom:0;
      width:40px;
      background-color:#76ba4a;
    }
  }
}
